html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rounded-top{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.phone{
  display: none;
}



@media all and (max-width: 830px){
  .phone{
    display: block;
  }
  .no-phone{
    display: none;
  }
  
}
